<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinkmill.touchstonejs-starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Touchstone</name>
  <description>Touchstone Starter App</description>
  <author email="hello@thinkmill.com.au" href="http://www.thinkmill.com.au">Thinkmill Team</author>
  <content src="index.html" />

  <access origin="*" />

	<preference name="DisallowOverscroll" value="true" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="10000" />
  <preference name="AutoHideSplashScreen" value="true" />

	<plugin name="cordova-plugin-device" spec="^1.0.0" />
  <plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
  <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
  <plugin name="cordova-plugin-whitelist" spec="^1.1.0" />

	<engine name="ios" spec="~3.9.1" />
</widget>
